@model ResidenceStore.Web.Mvc.Models.VerificationResultModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        
        @if (Model.Success) {
            <p>Done!</p>
        }
        else {
            <p>Woops!</p>
        }

    </body>
</html>
